<center><h1>About Us page</h1>
 <p>
 	Welcome to FootwearsForAll with us where you get high-quality and perfectly fitting women's,men's and kid's footwears for every ocaasion.
 </p>
 <p>
 	Browse through our website <b><u>footwearsforall.com</u></b> for online buying our products.
 </p>
</center>
	{% load static %}
	<img src="{% static '/boy.jpeg'%}" height=350 width=450 alt="my image">
	<img src="{% static '/girl.jpeg'%}" height=350 width=450 alt="my image">
	<center><img src="{% static '/kids.jpeg'%}" height=350 width=450 alt="my image"></center>